
:root {
 --primary-color: #009688;
 --header-color: #fff;
 --body-bg: #fbe9e7;
 --footer-bg: #fff;
 --font-color: #333;
 --symbol-color: #ff7043;
 --symbol-dark: #f4511e;
 --symbol-hover: #ff8a65;
 --slider-circle: #000;
}

[data-theme="dark"] {
 --primary-color: #333;
 --header-color: #000;
 --footer-bg: #000;

 --symbol-color: transparent;
 --symbol-hover: #ff5722;
 --slider-circle: #fff;
}

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: "lato";
}

.wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
 height: 100vh;
 background-color: var(--primary-color);
}

.calculator{
 display: grid;
 grid-template-rows: 8% 25% auto;
 width: 300px;
 height: 500px;
 background-color: #fff;
 border-radius: 3px;
 box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.calculator-header{
 display: flex;
 justify-content: flex-end;
 padding: 0 20px;
 background-color: var(--header-color);
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
}

.calculator-body{
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 padding: 20px;
 background-color: var(--body-bg);
 text-align: right;
}

.calculator-footer{
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-template-rows: auto auto auto auto auto;
 grid-column-gap: 10px;
 grid-row-gap: 10px;
 justify-content: space-around;
 padding: 10px 0;
 background-color: var(--footer-bg);
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.calculator-footer div {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 font-size: 20px;
 font-weight: 500;
 color: var(--font-color);
 transition: 0.4s all;
}

.calculator-footer div.symbol{
 background-color: var(--symbol-color);
 color: #ffff;
}

.calculator-footer div.symbol-dark{
 background-color: var(--symbol-dark);
 color: #ffff;
}

.calculator-footer div:hover {
 background-color: #e5e5e5;
 cursor: pointer;
}

.calculator-footer div.symbol:hover {
 background-color: var(--symbol-hover);
}

.calculator-footer div.symbol-dark:hover {
 background-color: var(--symbol-dark);
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 16px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--slider-circle); 
  content: "";
  bottom: -5px;
  height: 26px;
  /* left: 0px; */
  right: 25px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}